<p id="notice"><%= notice %></p>

<p>
  <b>Pregunta:</b>
  <%= @question.pregunta %>
</p>

<p>
  <b>Respuesta:</b>
  <%= @question.respuesta %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
